// index.scss
html, body {
        margin: 0;
        padding: 0;
}


h1, h2,h3,h4,h5,h6, ul, ol {
        padding: 0;
        margin: 0;
}

.form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: whitesmoke;
}

 .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        height: 400px;
        width: 400px;
        color: whitesmoke;
        background-color: darkgreen;
}

.fields {
        display: flex;
        width: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.fields {
        box-sizing: border-box;

        label {
                margin: 5px 0;
                display: flex;
                width: 100%;
                input {
                        
                        flex-grow: 1;
                }
        }
}

.locale-selector {
        position: absolute;
        top: 15px;
        right: 15px;
}